@mixin plan_name() {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: var(--plan-name);
}

@mixin plan_price($number-color) {
    font-family: 'Open Sans', sans-serif;
    font-size: 46px;
    font-weight: 300;
    color: $number-color;
}

@mixin button($button-color) {
    width: 150px;
    height: 50px;
    background: $button-color;
    border: none;
    border-radius: 23px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: var(--white);
}

@mixin pricing_cards($color-card) {
    width: 78%;
    margin: 0 auto;
    border: 1px solid $color-card;
    border-radius: 18px;
}

@mixin hover_card($shadow-color) {
    width: 90%;
    box-shadow: 5px 10px 27px $shadow-color;
    transition: width 0.25s linear;
}

.pricing {

    &__title {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 36px;
        text-align: center;
        margin-top: 53px;
    }

    &__basic {
        @include pricing_cards(var(--pink));
        margin-top: 54px;

        p:nth-child(1) {
            @include plan_name();
        }

        p:nth-child(2) {
            @include plan_price(var(--pink));
        }
    }

    &__price-basic {
        display: inline-block;
        vertical-align: top;
        margin-left: 5%;
        margin-top: 70px;
        width: 47%;
        text-align: center;
    }
    
    &__benefits-basic {
        display: inline-block;
        width: 45%;
        margin-top: 25px;
        margin-bottom: 51px;

        li {
            list-style: none;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            font-size: 14px;
        }
        li:not(:last-child) {
            margin-bottom: 20px;
        }

        li img {
            margin-right: 10px;
        }
    }

    &__button-container {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__button--red {
        @include button(var(--red));
        
        position: absolute;
        left: 50%;
        transform: translate(-50%, -25px);
    }

    &__button--blue {
        @include button(var(--blue-price));

        position: absolute;
        left: 50%;
        transform: translate(-50%, -25px);
    }

    &__button--green {
        @include button(var(--green));

        position: absolute;
        left: 50%;
        transform: translate(-50%, -25px);
    }

    &__professional {
        @include pricing_cards(var(--blue-price));
        margin-top: 54px;

        p:nth-child(1) {
            @include plan_name();
        }

        p:nth-child(2) {
            @include plan_price(var(--blue-price));
        }

        p:nth-child(3) {
            font-family: 'Raleway', sans-serif;
            font-size: 12px;
            font-weight: 700;
        }
    }

    &__price-professional {
        display: inline-block;
        vertical-align: top;
        margin-top: 70px;
        width: 47%;
        margin-left: 5%;
        text-align: center;
    }

    &__benefits-professional {
        display: inline-block;
        width: 45%;
        margin-top: 25px;
        margin-bottom: 51px;

        li {
            list-style: none;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            font-size: 14px;
        }
        li:not(:last-child) {
            margin-bottom: 20px;
        }

        li img {
            margin-right: 10px;
        }
    }

    &__premium {
        @include pricing_cards(var(--green));
        margin-top: 54px;

        p:nth-child(1) {
            @include plan_name();
        }

        p:nth-child(2) {
            @include plan_price(var(--green));
        }

        p:nth-child(3) {
            font-family: 'Raleway', sans-serif;
            font-size: 12px;
            font-weight: 700;
        }
    }

    &__price-premium {
        display: inline-block;
        vertical-align: top;
        margin-top: 70px;
        width: 47%;
        margin-left: 5%;
        text-align: center;
    }

    &__benefits-premium {
        display: inline-block;
        width: 45%;
        margin-top: 25px;
        margin-bottom: 51px;

        li {
            list-style: none;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            font-size: 14px;
        }
        li:not(:last-child) {
            margin-bottom: 20px;
        }

        li img {
            margin-right: 10px;
        }
    }

    &__basic:hover {
        @include hover_card(rgba(251, 59, 100, 0.29));
    }

    &__professional:hover {
        @include hover_card(rgba(7, 172, 230, 0.29));
    }

    &__premium:hover {
        @include hover_card(rgba(85, 223, 180, 0.29));
    }
}

@media only screen and (min-width: 1000px) {
    @mixin card_content_flex() {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    
    .pricing {

        &__title {
            margin-top: 127px;
        }

        &__global {
            width: 85%;
            margin: 0 auto;
            display: flex;
            gap: 80px;
        }

        &__basic {
            @include card_content_flex();
        }

        &__price-basic {
            margin-bottom: 16px;
        }

        &__benefits-basic {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
        }

        &__professional {
            @include card_content_flex();
        }
        
        &__benefits-professional {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
        }

        &__premium {
            @include card_content_flex();
        }
        
        &__benefits-premium {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
        }
    }
}
