@mixin contact_style() {
    display: inline-block;
    vertical-align: top;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    color: var(--gray);
}

@mixin label_style_form() {
    display: block;
    font-family: 'Open Sans';
    font-size: 11px;
    font-weight: 600;
    color: var(--main-blue);
    letter-spacing: 3.28px;
    margin-bottom: 10px;
}

@mixin input_style_form() {
    border: none;
    outline: none;
    border-bottom: 1px solid #95989A;
    width: 83%;
}

.questions {
    margin-top: 77px;

    &__title {
        margin-left: 8%;

        h4 {
            font-family: 'Raleway', sans-serif;
            font-size: 40px;
            font-weight: 400;
            color: var(--black);
        }

        p {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: var(--black);
        }
    }

    &__email {
        margin-left: 8%;
        margin-top: 42px;

        p {
            @include contact_style();
        }
    }

    &__phone {
        margin-left: 8%;
        margin-top: 12px;
        margin-bottom: 55px;

        p {
            @include contact_style();
        }
    }

    &__form {
        margin-left: 8%;
    }

    &__form-name {
        margin-bottom: 42px;

        label{
            @include label_style_form();

        }

        input {
            @include input_style_form();
        }
    }

    &__form-email {
        margin-bottom: 31px;

        label {
            @include label_style_form();
        }

        input {
            @include input_style_form();
        }
    }

    &__terms {
        margin-left: 8%;
        margin-bottom: 33px;
        width: 74%;

        input {
            vertical-align: top;
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-right: 10px;
        }

        p {
            width: 82%;
            display: inline-block;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 12px;
            color: #707070;
        }
    }

    &__send-button {
        margin-left: 25%;
        margin-bottom: 44px;

        button {
            width: 226px;
            height: 57px;
            background: var(--main-blue);
            box-shadow:  5px 10px 14px rgba(7, 172, 230, 0.29);
            border-radius: 35px;
            border: none;
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            font-weight: 700;
            color: var(--white);
        }
    }
}

@media only screen and (min-width: 1000px) {
    .questions {
        display: flex;

        h4 {
            font-size: 49px;
            margin-bottom: 22px;
        }

        &__contact {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            min-width: 50%;
        }

        &__email {
            margin-top: 12px;
            display: flex;

            img {
                min-height: 0;
                height: 22px;
            }
        }

        &__phone {
            display: flex;

            img {
                min-height: 0;
                height: 22px;
            }

            p {
                white-space: nowrap;
            }
        }

        &__email-phone {
            display: flex;
            margin-right: 85px;
            margin-top: 32px;
        }
    }
}