.section-3 {
    background: var(--gray-background);
    padding-top: 42px;

    &__card-1,
    &__card-2 {
        margin: 0 auto;
        width: 83%;
        height: 370px;
        border: 1px solid #E8E9ED;
        background-color: var(--white);
        border-radius: 5px;
    }

    &__card-3 {
        margin: 0 auto;
        width: 83%;
        height: 298px;
        background: var(--white);
        border-radius: 5px;
        border: 1px solid #E8E9ED;
    }

    &__card-2 {
        margin-top: 41px;
        margin-bottom: 42px;
    }


    &__shape-1 {
        display: inline-block;
        width: 90px;
        height: 90px;
        background: var(--pink);
        border-radius: 41px;
        transform: rotate(-45deg);
    }

    &__shape-2 {
        display: inline-block;
        width: 131px;
        height: 131px;
        border-radius: 50%;
        background: var(--main-blue);
        margin-left: 28%;
        margin-top: 12px;
    }

    &__title {
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        font-weight: 400;
        color: var(--black);
        margin-top: 26px;
        width: 70%;
        margin-left: 7%;
    }

    &__text {
        font-family: 'Open sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: var(--black);
        width: 90%;
        margin-top: 9%;
    }

    &__img {
        margin: 0 auto;
        width: 83%;
        background: var(--green);
        border-radius: 5px;
    }
}