@use 'header';
@use 'section-1';
@use 'section-2';
@use 'section-3';
@use 'pricing';
@use 'questions';
@use 'footer';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
}

:root {
    --main-blue: #08a6e4;
    --black: #000000;
    --white: #FFFFFF;
    --gray: #A5A5A5;
    --pink: #FB3B64;
    --green: #55DFB4;
    --gray-background: #F7F7F7;
    --red: #EB476E;
    --blue-price: #07ACE6;
    --plan-name: #13253B;
}

.arrow {
    position: fixed;
    z-index: 55;
	border-bottom: 0.25rem solid;
	border-right: 0.25rem solid;
	display: inline-block;
	width: 20px;
	height: 20px;
    bottom: 5%;
    left: 91%;
	color: var(--main-blue);
	transform: rotate(-135deg);
    cursor: pointer;
}