.header {
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  height: 70px;
}
.header__title {
  display: inline-block;
  width: 82%;
  margin-top: 17px;
  margin-left: 6.67%;
}
.header__title h1 {
  display: inline;
  font-family: "Raleway", sans-serif;
  color: var(--main-blue);
  font-weight: 300;
  font-size: 32px;
}
.header__nav {
  display: inline;
  width: 13%;
}
.header__nav-options {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .header__burger-menu {
    display: none;
  }
  .header__nav-options {
    display: flex;
    justify-content: flex-end;
    gap: 100px;
    position: relative;
    bottom: 25px;
    margin-right: 7%;
  }
  .header__nav-options li {
    list-style: none;
  }
  .header__nav-options a {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 3.28px;
    color: var(--gray);
    text-transform: uppercase;
  }
  .header__nav-options a:hover {
    color: var(--black);
    border-bottom: 4px solid var(--main-blue);
    padding-bottom: 21px;
  }
}
.section-1 {
  margin-top: 100px;
}
.section-1__info {
  text-align: center;
}
.section-1__info h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 35px;
  margin-bottom: 20px;
  color: var(--black);
}
.section-1__info p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: auto;
  margin-bottom: 28px;
  width: 80%;
}
.section-1__info button {
  width: 310px;
  height: 67px;
  background: var(--main-blue);
  border: none;
  border-radius: 40px;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 700;
  color: var(--white);
  margin-bottom: 51px;
}
.section-1__img {
  width: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 1000px) {
  .section-1__info h2 {
    font-size: 49px;
  }
  .section-1__info button {
    width: 440px;
  }
}
.section-2 {
  margin-top: 13px;
}
.section-2__title {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: var(--black);
  margin: auto;
  margin-bottom: 25px;
  width: 80%;
}
.section-2__info-1, .section-2__info-2 {
  text-align: center;
  margin-bottom: 25px;
}
.section-2__info-3 {
  text-align: center;
  margin-bottom: 50px;
}
.section-2__stats {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 5.96px;
  color: var(--black);
  margin-top: 13px;
}
.section-2__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: var(--gray);
  margin: auto;
  width: 36%;
}
.section-2__dot--pink {
  width: 62.71px;
  height: 62.71px;
  background-color: var(--pink);
  border-radius: 50%;
  display: inline-block;
}
.section-2__dot--pink img {
  margin-left: 45%;
}
.section-2__dot--blue {
  width: 62.71px;
  height: 62.71px;
  background-color: var(--main-blue);
  border-radius: 50%;
  display: inline-block;
}
.section-2__dot--blue img {
  margin-left: 35%;
  margin-top: 20%;
}
.section-2__dot--green {
  width: 62.71px;
  height: 62.71px;
  background-color: var(--green);
  border-radius: 50%;
  display: inline-block;
}
.section-2__dot--green img {
  margin-left: 50%;
  margin-top: 10%;
}

@media only screen and (min-width: 1000px) {
  .section-2__title {
    font-size: 36px;
  }
  .section-2__general-info {
    margin-top: 100px;
    margin-bottom: 122px;
    display: flex;
    justify-content: center;
    gap: 200px;
  }
}
.section-3 {
  background: var(--gray-background);
  padding-top: 1px;
  padding-bottom: 44px;
}
.section-3__card-1, .section-3__card-2 {
  margin: 0 auto;
  margin-top: 41px;
  margin-bottom: 42px;
  width: 83%;
  height: 370px;
  border: 1px solid #E8E9ED;
  background-color: var(--white);
  border-radius: 5px;
}
.section-3__card-3 {
  margin: 0 auto;
  width: 83%;
  height: 298px;
  background: var(--white);
  border-radius: 5px;
  border: 1px solid #E8E9ED;
}
.section-3__img-shape-1 {
  position: relative;
  width: 100%;
}
.section-3__img-shape-1 img:nth-child(1) {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 20px;
  z-index: 2;
}
.section-3__img-shape-1 img:nth-child(2) {
  display: none;
}
.section-3__shape-1 {
  display: block;
  width: 90px;
  height: 90px;
  background: var(--pink);
  border-radius: 41px;
  transform: rotate(-45deg);
  margin-left: 55%;
  margin-top: 5%;
}
.section-3__text-1 {
  padding-top: 65px;
  padding-left: 5%;
}
.section-3__title-1 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: var(--black);
  width: 85%;
  margin-bottom: 40px;
}
.section-3__info-1 {
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--black);
  width: 95%;
}
.section-3__img-shape-2 {
  margin-top: 12px;
  width: 100%;
  height: 170px;
  position: relative;
}
.section-3__shape-2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: inline-block;
  width: 131px;
  height: 131px;
  border-radius: 50%;
  background: var(--main-blue);
}
.section-3__shape-2 img:nth-child(2) {
  display: none;
}
.section-3__text-2 {
  padding-left: 5%;
}
.section-3__title-2 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: var(--black);
  width: 85%;
}
.section-3__info-2 {
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--black);
  width: 95%;
  margin-top: 18px;
}
.section-3__text-3 {
  padding-left: 5%;
  margin-top: 31px;
}
.section-3__title-3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: var(--black);
  width: 85%;
}
.section-3__info-3 {
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--black);
  width: 95%;
  font-size: 16px;
  margin-top: 20px;
}
.section-3__trumpet {
  margin: 0 auto;
  width: 83%;
  height: 195px;
  background: var(--green);
  border-radius: 5px;
}
.section-3__trumpet img {
  margin: 0 auto;
  margin-top: 24px;
}

@media only screen and (min-width: 1000px) {
  .section-3__card-1 {
    display: flex;
    flex-direction: row-reverse;
  }
  .section-3__img-shape-1 {
    position: relative;
    width: 100%;
  }
  .section-3__img-shape-1 img:nth-child(1) {
    display: none;
  }
  .section-3__img-shape-1 img:nth-child(2) {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-60%);
    top: 100px;
    z-index: 2;
  }
  .section-3__shape-1 {
    position: relative;
    width: 180px;
    height: 180px;
    margin-top: 0;
    right: 50px;
    top: 50px;
  }
  .section-3__title-1 {
    font-size: 36px;
  }
  .section-3__info-1 {
    font-size: 16px;
  }
  .section-3__bottom-line--pink {
    display: block;
    width: 327px;
    border-top: 4px solid var(--pink);
    margin-top: 50px;
  }
  .section-3__card-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-3__shape-2 {
    width: 320px;
    height: 320px;
    transform: translate(-55%, -80px);
  }
  .section-3__shape-2 img:nth-child(1) {
    display: none;
  }
  .section-3__shape-2 img:nth-child(2) {
    display: inline-block;
  }
  .section-3__text-2 {
    margin-bottom: 100px;
  }
  .section-3__bottom-line--blue {
    display: block;
    width: 327px;
    border-top: 4px solid var(--main-blue);
    margin-top: 50px;
  }
  .section-3__big-card-3 {
    width: 83%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  .section-3__card-3 {
    width: 120%;
  }
  .section-3__trumpet {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 295px;
  }
  .section-3__bottom-line--green {
    display: block;
    width: 327px;
    border-top: 4px solid var(--green);
    margin-top: 50px;
  }
}
.pricing__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  margin-top: 53px;
}
.pricing__basic {
  width: 78%;
  margin: 0 auto;
  border: 1px solid var(--pink);
  border-radius: 18px;
  margin-top: 54px;
}
.pricing__basic p:nth-child(1) {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: var(--plan-name);
}
.pricing__basic p:nth-child(2) {
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: 300;
  color: var(--pink);
}
.pricing__price-basic {
  display: inline-block;
  vertical-align: top;
  margin-left: 5%;
  margin-top: 70px;
  width: 47%;
  text-align: center;
}
.pricing__benefits-basic {
  display: inline-block;
  width: 45%;
  margin-top: 25px;
  margin-bottom: 51px;
}
.pricing__benefits-basic li {
  list-style: none;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.pricing__benefits-basic li:not(:last-child) {
  margin-bottom: 20px;
}
.pricing__benefits-basic li img {
  margin-right: 10px;
}
.pricing__button-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.pricing__button--red {
  width: 150px;
  height: 50px;
  background: var(--red);
  border: none;
  border-radius: 23px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: var(--white);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -25px);
}
.pricing__button--blue {
  width: 150px;
  height: 50px;
  background: var(--blue-price);
  border: none;
  border-radius: 23px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: var(--white);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -25px);
}
.pricing__button--green {
  width: 150px;
  height: 50px;
  background: var(--green);
  border: none;
  border-radius: 23px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: var(--white);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -25px);
}
.pricing__professional {
  width: 78%;
  margin: 0 auto;
  border: 1px solid var(--blue-price);
  border-radius: 18px;
  margin-top: 54px;
}
.pricing__professional p:nth-child(1) {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: var(--plan-name);
}
.pricing__professional p:nth-child(2) {
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: 300;
  color: var(--blue-price);
}
.pricing__professional p:nth-child(3) {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 700;
}
.pricing__price-professional {
  display: inline-block;
  vertical-align: top;
  margin-top: 70px;
  width: 47%;
  margin-left: 5%;
  text-align: center;
}
.pricing__benefits-professional {
  display: inline-block;
  width: 45%;
  margin-top: 25px;
  margin-bottom: 51px;
}
.pricing__benefits-professional li {
  list-style: none;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.pricing__benefits-professional li:not(:last-child) {
  margin-bottom: 20px;
}
.pricing__benefits-professional li img {
  margin-right: 10px;
}
.pricing__premium {
  width: 78%;
  margin: 0 auto;
  border: 1px solid var(--green);
  border-radius: 18px;
  margin-top: 54px;
}
.pricing__premium p:nth-child(1) {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: var(--plan-name);
}
.pricing__premium p:nth-child(2) {
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: 300;
  color: var(--green);
}
.pricing__premium p:nth-child(3) {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 700;
}
.pricing__price-premium {
  display: inline-block;
  vertical-align: top;
  margin-top: 70px;
  width: 47%;
  margin-left: 5%;
  text-align: center;
}
.pricing__benefits-premium {
  display: inline-block;
  width: 45%;
  margin-top: 25px;
  margin-bottom: 51px;
}
.pricing__benefits-premium li {
  list-style: none;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.pricing__benefits-premium li:not(:last-child) {
  margin-bottom: 20px;
}
.pricing__benefits-premium li img {
  margin-right: 10px;
}
.pricing__basic:hover {
  width: 90%;
  box-shadow: 5px 10px 27px rgba(251, 59, 100, 0.29);
  transition: width 0.25s linear;
}
.pricing__professional:hover {
  width: 90%;
  box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.29);
  transition: width 0.25s linear;
}
.pricing__premium:hover {
  width: 90%;
  box-shadow: 5px 10px 27px rgba(85, 223, 180, 0.29);
  transition: width 0.25s linear;
}

@media only screen and (min-width: 1000px) {
  .pricing__title {
    margin-top: 127px;
  }
  .pricing__global {
    width: 85%;
    margin: 0 auto;
    display: flex;
    gap: 80px;
  }
  .pricing__basic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .pricing__price-basic {
    margin-bottom: 16px;
  }
  .pricing__benefits-basic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  .pricing__professional {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .pricing__benefits-professional {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  .pricing__premium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .pricing__benefits-premium {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
}
.questions {
  margin-top: 77px;
}
.questions__title {
  margin-left: 8%;
}
.questions__title h4 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: var(--black);
}
.questions__title p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
}
.questions__email {
  margin-left: 8%;
  margin-top: 42px;
}
.questions__email p {
  display: inline-block;
  vertical-align: top;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  color: var(--gray);
}
.questions__phone {
  margin-left: 8%;
  margin-top: 12px;
  margin-bottom: 55px;
}
.questions__phone p {
  display: inline-block;
  vertical-align: top;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  color: var(--gray);
}
.questions__form {
  margin-left: 8%;
}
.questions__form-name {
  margin-bottom: 42px;
}
.questions__form-name label {
  display: block;
  font-family: "Open Sans";
  font-size: 11px;
  font-weight: 600;
  color: var(--main-blue);
  letter-spacing: 3.28px;
  margin-bottom: 10px;
}
.questions__form-name input {
  border: none;
  outline: none;
  border-bottom: 1px solid #95989A;
  width: 83%;
}
.questions__form-email {
  margin-bottom: 31px;
}
.questions__form-email label {
  display: block;
  font-family: "Open Sans";
  font-size: 11px;
  font-weight: 600;
  color: var(--main-blue);
  letter-spacing: 3.28px;
  margin-bottom: 10px;
}
.questions__form-email input {
  border: none;
  outline: none;
  border-bottom: 1px solid #95989A;
  width: 83%;
}
.questions__terms {
  margin-left: 8%;
  margin-bottom: 33px;
  width: 74%;
}
.questions__terms input {
  vertical-align: top;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.questions__terms p {
  width: 82%;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #707070;
}
.questions__send-button {
  margin-left: 25%;
  margin-bottom: 44px;
}
.questions__send-button button {
  width: 226px;
  height: 57px;
  background: var(--main-blue);
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  border-radius: 35px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: var(--white);
}

@media only screen and (min-width: 1000px) {
  .questions {
    display: flex;
  }
  .questions h4 {
    font-size: 49px;
    margin-bottom: 22px;
  }
  .questions__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 50%;
  }
  .questions__email {
    margin-top: 12px;
    display: flex;
  }
  .questions__email img {
    min-height: 0;
    height: 22px;
  }
  .questions__phone {
    display: flex;
  }
  .questions__phone img {
    min-height: 0;
    height: 22px;
  }
  .questions__phone p {
    white-space: nowrap;
  }
  .questions__email-phone {
    display: flex;
    margin-right: 85px;
    margin-top: 32px;
  }
}
.footer {
  height: 89px;
  background: #F7F7F7;
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
}
.footer__big-div {
  padding-top: 22px;
  padding-left: 4.5%;
}
.footer__title {
  display: inline-block;
  width: 65%;
}
.footer__title p:nth-child(1) {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 300;
  color: var(--main-blue);
}
.footer__title p:nth-child(2) {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: var(--gray);
}
.footer__logos {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  margin-top: 10px;
}
.footer__logos img:nth-child(1) {
  margin-right: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

:root {
  --main-blue: #08a6e4;
  --black: #000000;
  --white: #FFFFFF;
  --gray: #A5A5A5;
  --pink: #FB3B64;
  --green: #55DFB4;
  --gray-background: #F7F7F7;
  --red: #EB476E;
  --blue-price: #07ACE6;
  --plan-name: #13253B;
}

/*# sourceMappingURL=styles.css.map */
