.header {
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  height: 70px;
}
.header__title {
  display: inline-block;
  width: 82%;
  margin-top: 17px;
  margin-left: 6.67%;
}
.header__title h1 {
  display: inline;
  font-family: "Raleway", sans-serif;
  color: var(--main-blue);
  font-weight: 300;
  font-size: 32px;
}
.header__nav {
  display: inline;
  width: 13%;
}

.section-1 {
  margin-top: 100px;
}
.section-1__info {
  text-align: center;
}
.section-1__info h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 35px;
  margin-bottom: 20px;
  color: var(--black);
}
.section-1__info p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: auto;
  margin-bottom: 28px;
  width: 80%;
}
.section-1__info button {
  width: 310px;
  height: 67px;
  background: var(--main-blue);
  border: none;
  border-radius: 40px;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 700;
  color: var(--white);
  margin-bottom: 51px;
}
.section-1__img img {
  width: 100%;
  object-fit: cover;
}

.section-2 {
  margin-top: 13px;
}
.section-2__title {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: var(--black);
  margin: auto;
  margin-bottom: 25px;
  width: 80%;
}
.section-2__info-1, .section-2__info-2 {
  text-align: center;
  margin-bottom: 25px;
}
.section-2__info-3 {
  text-align: center;
  margin-bottom: 50px;
}
.section-2__stats {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 5.96px;
  color: var(--black);
  margin-top: 13px;
}
.section-2__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: var(--gray);
  margin: auto;
  width: 36%;
}
.section-2__dot--pink {
  width: 62.71px;
  height: 62.71px;
  background-color: var(--pink);
  border-radius: 50%;
  display: inline-block;
}
.section-2__dot--pink img {
  margin-left: 45%;
}
.section-2__dot--blue {
  width: 62.71px;
  height: 62.71px;
  background-color: var(--main-blue);
  border-radius: 50%;
  display: inline-block;
}
.section-2__dot--blue img {
  margin-left: 35%;
  margin-top: 20%;
}
.section-2__dot--green {
  width: 62.71px;
  height: 62.71px;
  background-color: var(--green);
  border-radius: 50%;
  display: inline-block;
}
.section-2__dot--green img {
  margin-left: 50%;
  margin-top: 10%;
}

.section-3 {
  background: var(--gray-background);
  padding-top: 1px;
  padding-bottom: 44px;
}
.section-3__card-1, .section-3__card-2 {
  margin: 0 auto;
  margin-top: 41px;
  margin-bottom: 42px;
  width: 83%;
  height: 370px;
  border: 1px solid #E8E9ED;
  background-color: var(--white);
  border-radius: 5px;
}
.section-3__card-3 {
  margin: 0 auto;
  width: 83%;
  height: 298px;
  background: var(--white);
  border-radius: 5px;
  border: 1px solid #E8E9ED;
}
.section-3__img-shape-1 {
  position: relative;
  width: 100%;
}
.section-3__img-shape-1 img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 23%;
  z-index: 2;
}
.section-3__shape-1 {
  display: block;
  width: 90px;
  height: 90px;
  background: var(--pink);
  border-radius: 41px;
  transform: rotate(-45deg);
  margin-left: 55%;
  margin-top: 5%;
}
.section-3__text-1 {
  padding-top: 65px;
  padding-left: 5%;
}
.section-3__title-1 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: var(--black);
  width: 70%;
  margin-bottom: 60px;
}
.section-3__info-1 {
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--black);
  width: 95%;
}
.section-3__img-shape-2 {
  margin-top: 12px;
  width: 100%;
  height: 170px;
  position: relative;
}
.section-3__shape-2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: inline-block;
  width: 131px;
  height: 131px;
  border-radius: 50%;
  background: var(--main-blue);
}
.section-3__text-2 {
  padding-left: 5%;
}
.section-3__title-2 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: var(--black);
  width: 70%;
}
.section-3__info-2 {
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--black);
  width: 95%;
  margin-top: 18px;
}
.section-3__text-3 {
  padding-left: 5%;
  margin-top: 31px;
}
.section-3__title-3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: var(--black);
  width: 70%;
}
.section-3__info-3 {
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--black);
  width: 95%;
  font-size: 16px;
  margin-top: 20px;
}
.section-3__trumpet {
  margin: 0 auto;
  width: 83%;
  height: 195px;
  background: var(--green);
  border-radius: 5px;
}
.section-3__trumpet img {
  margin: 0 auto;
  margin-top: 24px;
}

.pricing__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  margin-top: 53px;
}
.pricing__basic {
  width: 78%;
  height: 251px;
  margin: 0 auto;
  margin-top: 14px;
  border: 1px solid var(--pink);
  border-radius: 18px;
}
.pricing__basic p:nth-child(1) {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: var(--plan-name);
}
.pricing__basic p:nth-child(2) {
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: 300;
  color: var(--pink);
}
.pricing__price {
  display: inline-block;
  vertical-align: top;
  margin-left: 17%;
  margin-top: 70px;
  width: 25%;
}
.pricing__benefits {
  display: inline-block;
  width: 55%;
  margin-top: 25px;
  margin-bottom: 51px;
}
.pricing__benefits li {
  list-style: none;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.pricing__benefits li:not(:last-child) {
  margin-bottom: 20px;
}
.pricing__benefits li img {
  margin-right: 10px;
}
.pricing__button-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.pricing__button--red {
  width: 150px;
  height: 50px;
  background: var(--red);
  border: none;
  border-radius: 23px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: var(--white);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -13px);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

:root {
  --main-blue: #08a6e4;
  --black: #000000;
  --white: #FFFFFF;
  --gray: #A5A5A5;
  --pink: #FB3B64;
  --green: #55DFB4;
  --gray-background: #F7F7F7;
  --red: #EB476E;
  --blue-price: #07ACE6;
  --plan-name: #13253B;
}

/*# sourceMappingURL=styles.css.map */
